@import "tailwindcss";

.input-group input:focus~label, .input-group input:valid~label, .input-group select:valid~label {
  top: 0;
  font-size: 0.95rem;
  color: #007aff;
  transition: all 0.2s ease-in-out;
}